header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
}

header #api_status {
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    z-index: 1;
}

header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    width: 300px;
    height: 100%;
    margin: 4px 0px 0px 10px;
}

header .available {
    background-color: #ff545f;
}

header .circle {
    background-color: #cccccc;
}
